* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
font-family: inherit;
font-size: 1rem;
font-style: normal;
font-weight: 400;
  line-height: 1.2;

}

.productDetailContainer {
  display: block;
  margin:0;
  padding: 0;
  width: 425px;
  height: 168px;

  .detailHeaderContainer {
    font-size: 1.1875rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .detailContainer {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
    margin-top: -0.4rem;

    .rowDetail {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      min-height: 1.625rem;


      .iconContainer {
        height: 1.5rem;
        width: 1.5rem;
        overflow: clip;
        overflow-clip-margin: content-box;
        margin-right: 10px;
        margin-left: 5px;
      }
      .descriptionContainer {

        cursor: pointer;
        padding-bottom: .25rem;
        margin-left: 0rem;
        margin-right: .78125rem;
        font-size: 1.0rem;
        font-weight: 500;
        line-height: 1.25rem;
        padding-left: 0;
        padding-right: 0;
        font-family: inherit;
        font-style: normal;
        background: none;
        border:none;
        border-bottom: .0625rem solid #d3d5d7;
        &:hover {
          border-bottom: 1px solid red;
        }

      }
    }

  }
}

.rowDetail:not(:last-child) {
  margin-bottom: 0.5rem;
}
.rowDetail:first-child {
  margin-top: 0.1rem;
}
