.SingleProductContainers {
  width: 1440px;
  display: flex;
}
.SingleProductContainers .singleProductImageAndInfo {
  display: flex;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentTooltip {
  position: absolute;
  top: 30px; /* Adjust as needed */
  left: 90.5%;
  transform: translateX(-50%);
  padding: 15px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* Adjust as needed */
  text-align: left;
  z-index: 1000;
  font-size: 14px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentTooltip::after {
  content: "";
  position: absolute;
  top: -10px; /* Adjust as needed */
  left: 45%;
  transform: translateX(-50%);
  rotate: 180deg;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentMethod {
  width: 425px;
  justify-content: center;
  display: flex;
  margin-top: 10px;
  position: relative;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentMethod svg {
  margin: 2px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentMethod svg:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPaymentMethod div {
  margin: 2px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeNotSelectedError {
  display: flex;
  background-color: #ffe1e4;
  border: 0.0625rem solid #d20014;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeNotSelectedError svg {
  margin: 2px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeNotSelectedError div {
  margin: 2px;
  font-size: 18px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductInfoHeader {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductInfoHeader div {
  margin: 0px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductInfoHeader div:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductInfoHeader div div {
  border-bottom: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductInfoHeader div div:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag {
  margin-top: 20px;
  background: #fff;
  border: 0.0625rem solid #e6e6e6;
  border-radius: 0.25rem;
  width: 440px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductAddBagButtonContainer button {
  width: 403px;
  background-color: #c8102e;
  color: white;
  border: none;
  height: 53.2px;
  margin: 8px 16px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductAddBagButtonContainer button:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductAddBagButtonContainer div {
  border-bottom: 1px solid black;
  align-items: center;
  width: 185px;
  margin-bottom: 20px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductAddBagButtonContainer div:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp {
  padding: 10px 0px;
  border-bottom: 0.0625rem solid #e6e6e6;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpOptionBox {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpOptionBox .singleProductPickUpOptionIcon {
  margin: 5px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpOptionBox .singleProductPickUpOptionIcon:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpOptionBox div {
  margin: 2px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickupInformationAvailable {
  margin-left: 30px;
  margin-top: 20px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickupInformation {
  margin-left: 30px;
  margin-top: 3px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpLocation {
  display: flex;
  justify-content: flex-start;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpLocation div {
  margin-left: 10px;
  border-bottom: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpLocation div:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpMenu {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpMenu div {
  margin: 0px 200px 0px 0px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpMenu span {
  margin: 0px 5px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpMenu span:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductPickUpMenu #singleProductStoreIcon {
  margin: 0px 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductPickUp .singleProductSizeNotSelected {
  width: 400px;
  margin: 20px 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  border-bottom: 0.0625rem solid #e6e6e6;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip div {
  margin: 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip .singleProductShipIcon {
  margin: 3px 10px 10px 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip .singleProductShipIcon:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip .singleProductShipText {
  color: gray;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductAddBag .singleProductShip .singleProductShipText div {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer {
  margin-top: 25px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu div {
  margin: 0px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu #singleProductSizeSelected {
  display: flex;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu #singleProductSizeSelected div {
  margin-left: 5px;
  font-weight: normal;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu .singleProductSizeGuide {
  border-bottom: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeMenu .singleProductSizeGuide:hover {
  cursor: pointer;
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeItems {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 460px;
  margin-top: 7px;
  gap: 2px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductSizeContainer .singleProductSizeItems .singleProductSizeButton {
  font-size: 17px;
  font-weight: bold;
  width: 36px;
  height: 36px;
  margin: 4px;
  border: 0.0625rem solid #d3d5d7;
  background-color: white;
  border-radius: 0.25rem;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColorDescription {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  margin: 0;
  justify-content: flex-start;
  margin-top: 30px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColorDescription div {
  font-weight: normal;
  margin-left: 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPrice {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 10px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductPrice div {
  font-size: 14px;
  margin: 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductName {
  font-size: 36px;
  font-weight: bold;
  width: 425px;
  margin-top: 10px;
  margin-left: 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer div {
  max-width: 150px;
  margin: 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer .womenLink {
  border-bottom: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer .womenLink:hover {
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer .skirtLink {
  border-bottom: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer .skirtLink:hover {
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .topLinkContainer .slashLink {
  margin-left: 5px;
  margin-right: 5px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColor {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 425px;
  flex-wrap: wrap;
  margin: 12px 0 0 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColor .singleProductColorBorder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 4px 4px;
  padding: 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColor .singleProductColorBorder:hover {
  outline: 1px solid lightgray;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColor .singleProductColorBorder .singleProductColorItem {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  outline: 1px solid lightgray;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductInfo .singleProductColor .productCardColorItemSelect {
  outline: 1px solid black;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu {
  width: 1322px;
  margin-left: 30px;
  position: relative;
  display: flex;
  left: 0px;
  top: 15px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomName {
  font-size: 24px;
  font-weight: bold;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomBack {
  left: 0px;
  display: flex;
  font-size: 17px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomBack:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomBack div {
  border-bottom: 1px solid black;
  height: 20px;
  align-items: center;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomBack div:hover {
  border-bottom: 1px solid red;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInMenu .singleProductZoomCloseIcon:hover {
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInPicture {
  width: 1322px;
  top: 30px;
  left: 0px;
  position: relative;
  margin-left: 30px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInPicture:hover {
  cursor: zoom-out;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductZoomIn .singleProductZoomInPicture img {
  width: 1322px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel {
  margin-left: 50px;
  width: 649px;
  margin-right: 50px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage {
  position: relative;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductImagePrev {
  border: none;
  background-color: white;
  position: absolute;
  top: 47%;
  height: 48px;
  width: 48px;
  border-radius: 0.25rem;
  left: 10px;
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductImageNext {
  position: absolute;
  left: 590px;
  border: none;
  background-color: white;
  top: 47%;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 48px;
  width: 48px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductFav {
  position: absolute;
  left: 590px;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  top: 10px;
  cursor: pointer;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductZoomIcon {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 0.25rem;
  border: none;
  left: 590px;
  top: 750px;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductZoomIcon:hover {
  cursor: zoom-in;
  background-color: white;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductImageContainer {
  position: relative;
  display: flex;
  width: 649px;
  height: 810px;
  left: 0px;
  overflow: hidden;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductImageContainer .singleProductImage {
  width: 649px;
  margin: 0 0 -5px 0;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouselImage .singleProductImageContainer .singleProductImage:hover {
  cursor: zoom-in;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouseMenu {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouseMenu .singleProductMenuItem {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0px;
  border: 2px solid white;
}
.SingleProductContainers .singleProductImageAndInfo .singleProductCarousel .singleProductCarouseMenu .singleProductMenuItem:hover {
  border-bottom: 2px solid gray;
}
.SingleProductContainers .myBagLinkContent .popUpShoppingCartLine {
  padding: 2px 4px;
  border-radius: 4px;
  position: fixed;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
}

/*# sourceMappingURL=SingleCarousel.css.map */
