* {
  box-sizing: border-box;
}

body {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
}

.headerContainer {
  position: sticky;
  z-index: 104;
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  background: #fff;
  top: -34px;
}

.topNavContainer {
  display: flex;
  background: #fafafa;
  line-height: 1.2;
  color: inherit;
}
.topNavContainer .topNavBar {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 85.75rem;
  padding: 0.5rem 1.5625rem;
  width: 100%;
  border: none;
  background: #fafafa;
}
.topNavContainer .topNavBar .storeLocatorWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  border: none;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background: #fafafa;
}
.topNavContainer .topNavBar .storeLocatorWrapper .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.topNavContainer .topNavBar .giftCardsWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  border: none;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background: #fafafa;
}
.topNavContainer .topNavBar .giftCardsWrapper .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.topNavContainer .topNavBar .helpCenterWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  border: none;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background: #fafafa;
}
.topNavContainer .topNavBar .helpCenterWrapper .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.topNavContainer .topNavBar .locationWrapper {
  position: relative;
  display: flex;
  cursor: pointer;
  border: none;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  background: #fafafa;
}
.topNavContainer .topNavBar .locationWrapper .icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

@keyframes underlineAnimation {
  from {
    width: 0;
  }
  to {
    width: 1.5rem;
  }
}
@keyframes underlineItemAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.mainNavigation {
  display: flex;
  grid-area: desktop;
  grid-template-areas: "logo primary secondary";
  grid-template-columns: 5.375rem auto 1fr;
  grid-template-rows: 4.75rem minmax(0, auto);
  width: 100%;
  max-width: 85.75rem;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5625rem;
  position: sticky;
  top: 0;
}
.mainNavigation .navLogo {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  grid-area: logo;
  cursor: pointer;
}
.mainNavigation .sitePrimaryNavigation {
  font-size: 1rem;
  font-weight: 600;
  grid-area: primary;
  letter-spacing: 0.075rem;
  line-height: 1.25rem;
  position: relative;
  transition: color 0.1s linear;
  display: flex;
}
.mainNavigation .sitePrimaryNavigation .title {
  padding: 0.3125rem 1.25rem;
  position: relative;
  cursor: pointer;
}
.mainNavigation .sitePrimaryNavigation .title.active::after {
  content: "";
  position: absolute;
  width: 30%;
  border-bottom: 4px solid #c8102e;
  bottom: 2px;
  left: 19px;
  transition: width 5s ease-in-out;
  animation: underlineAnimation 0.3s ease-in-out forwards;
}
.mainNavigation .sitePrimaryNavigation .title:last-child {
  color: #c8102e;
}
.mainNavigation .siteSecondaryNavigation {
  display: flex;
  grid-area: secondary;
  height: 100%;
  padding: 1.125rem 0;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.mainNavigation .siteSecondaryNavigation .searchFormWrapper {
  background-color: #fff;
  margin-right: 1.375rem;
}
.mainNavigation .siteSecondaryNavigation .searchFormWrapper .searchForm {
  margin: 0;
  position: relative;
}
.mainNavigation .siteSecondaryNavigation .searchFormWrapper .searchForm .searchIcon {
  cursor: pointer;
  position: absolute;
  fill: #53565a;
  left: 0.75rem;
  top: 1.125rem;
}
.mainNavigation .siteSecondaryNavigation .searchFormWrapper .searchForm .searchInput {
  border-radius: 0.25rem;
  height: 3.125rem;
  padding: 0 2rem 0 2.5rem;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1.5px solid #000;
  margin: 0;
  font-size: 1.0625rem;
}
.mainNavigation .siteSecondaryNavigation .searchFormWrapper .searchForm .searchInput:hover::placeholder {
  color: black;
}
.mainNavigation .siteSecondaryNavigation .signInButton {
  cursor: pointer;
  color: inherit;
}
.mainNavigation .siteSecondaryNavigation .signInButton .signInIcon {
  height: 1.5rem;
  margin-right: 0;
  width: 1.5rem;
  vertical-align: middle;
}
.mainNavigation .siteSecondaryNavigation .signInButton .signInLabel {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}
.mainNavigation .siteSecondaryNavigation .favButton {
  font-size: 0.875rem;
  font-weight: 400;
  color: inherit;
  cursor: pointer;
  line-height: 1.4285714286;
  margin-left: 0.5rem;
}
.mainNavigation .siteSecondaryNavigation .cartButton {
  position: relative;
  display: inline-block;
  line-height: 0;
  padding: 0.625rem 0 0.625rem 0.625rem;
  margin-bottom: 0.375rem;
  cursor: pointer;
}
.mainNavigation .siteSecondaryNavigation .cartButton .shoppingCartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 0.75rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0.3125rem;
  top: 0.1875rem;
  color: #c8102e;
}

.detailNavOuter {
  transition: height 0.2s ease-out;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
}
.detailNavOuter .detailNavInner {
  display: flex;
  width: 100%;
  max-width: 85.75rem;
}
.detailNavOuter .detailNavInner .singleSectionContainer {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  align-items: flex-start;
  margin: 0;
}
.detailNavOuter .detailNavInner .singleSectionContainer .itemContainer {
  font-size: 16px;
  margin-top: 1rem;
  color: inherit;
  margin-left: 0;
}
.detailNavOuter .detailNavInner .singleSectionContainer .itemContainer:first-child {
  color: inherit;
  font-weight: 600;
}
.detailNavOuter .detailNavInner .multiSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4rem;
  margin-right: 4rem;
  margin-left: 7.2rem;
}
.detailNavOuter .detailNavInner .multiSectionContainer .unorderedList {
  padding: 0;
  margin: 0;
}
.detailNavOuter .detailNavInner .multiSectionContainer .unorderedList .itemContainer {
  font-size: 16px;
  margin-top: 1rem;
  color: inherit;
}
.detailNavOuter .detailNavInner .imageContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  color: inherit;
}
.detailNavOuter .detailNavInner .imageContentWrapper .imageWrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 337.64px;
  width: 100%;
  height: 196.95px;
}
.detailNavOuter .detailNavInner .imageContentWrapper .contentWrapper {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 18.75rem;
  align-items: flex-start;
  margin-left: 0;
}
.detailNavOuter .detailNavInner .imageContentWrapper .descriptionWrapper {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.1764705882;
  max-width: 18.75rem;
  margin-left: 0;
}
.detailNavOuter .detailNavInner .imageContentWrapper .shopWrapper {
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 0.5rem 0 0;
  line-height: 1.1764705882;
}
.detailNavOuter .detailNavInner .imageContentWrapper .shopWrapper::after {
  content: url('data:image/svg+xml;utf8,<svg height="16" width="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-labelledby="icon_:r1h1:" aria-hidden="false"><title id="icon_:r1h1:">rightLinkArrowIcon</title><path d="m10.53 2.47 5 5a.75.75 0 0 1 .01 1.04l-5 5-.35-.35a1 1 0 0 1 0-1.42l3-3H5a1 1 0 0 1-1-1v-.5h9.18l-3-3a1 1 0 0 1 0-1.42l.35-.35ZM2 7.25a1 1 0 0 1 1 1v.5H1a1 1 0 0 1-1-1v-.5Z" fill="red" fill-rule="evenodd"/></svg>');
  isplay: inline-block;
  margin-left: 10px;
  color: #c8102e;
  vertical-align: middle;
}
.detailNavOuter .detailNavInner .specialImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  color: inherit;
  margin-left: 42pc;
}
.detailNavOuter .detailNavInner .specialImage .imageWrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 337.64px;
  width: 100%;
  height: 196.95px;
}
.detailNavOuter .detailNavInner .specialImage .contentWrapper {
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 18.75rem;
  align-items: flex-start;
  margin-left: 0;
}
.detailNavOuter .detailNavInner .specialImage .descriptionWrapper {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.1764705882;
  max-width: 18.75rem;
  margin-left: 0;
}
.detailNavOuter .detailNavInner .specialImage .shopWrapper {
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 0.5rem 0 0;
  line-height: 1.1764705882;
}
.detailNavOuter .detailNavInner .specialImage .shopWrapper::after {
  content: url('data:image/svg+xml;utf8,<svg height="16" width="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-labelledby="icon_:r1h1:" aria-hidden="false"><title id="icon_:r1h1:">rightLinkArrowIcon</title><path d="m10.53 2.47 5 5a.75.75 0 0 1 .01 1.04l-5 5-.35-.35a1 1 0 0 1 0-1.42l3-3H5a1 1 0 0 1-1-1v-.5h9.18l-3-3a1 1 0 0 1 0-1.42l.35-.35ZM2 7.25a1 1 0 0 1 1 1v.5H1a1 1 0 0 1-1-1v-.5Z" fill="red" fill-rule="evenodd"/></svg>');
  isplay: inline-block;
  margin-left: 10px;
  color: #c8102e;
  vertical-align: middle;
}
.detailNavOuter .itemContainer {
  position: relative;
  cursor: pointer;
}
.detailNavOuter .itemContainer .item {
  margin: 0;
  padding: 0;
}
.detailNavOuter .itemContainer .item:hover::after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  background: #c8102e;
  border-bottom: 2px solid #c8102e;
  animation: underlineItemAnimation 0.3s ease-in-out forwards;
}
.detailNavOuter .activityWrapper {
  height: 3.875rem;
  margin: 1.5rem 0 0;
  display: flex;
  background-color: #fafafa;
  margin-bottom: 20px;
  align-items: center;
}
.detailNavOuter .activityWrapper p {
  margin: 0;
  margin-left: 420px;
  background-color: #fafafa;
}
.detailNavOuter .activityWrapper .singleActivityWrapper {
  margin: 0px;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
}
.detailNavOuter .activityWrapper .singleActivityWrapper:hover::after {
  display: block;
  position: absolute;
  content: "";
  height: 0.125rem;
  bottom: -0.3125rem;
  top: auto;
  left: 0;
  background: #c8102e;
  border-bottom: 2px solid #c8102e;
  animation: underlineItemAnimation 0.3s ease-in-out forwards;
}

/*# sourceMappingURL=Header.css.map */
